<% include ../partials/header %>

<div class="container"> 

    <h1>Your Profile</h1>
    
    <p>Username:  <%= currentUser.username %></p>
    <p>Email:  <%= currentUser.email %></p>
    
</div>

<% include ../partials/footer %>