<% include partials/header %>

<div class="container">
    <h1>AYY WELCOME</h1>
    
    <h3>Submissions This Session</h3>
    <p id="subs">subcount</p>
    
    <hr>
    
    <h3>Time Left</h3>
    <p id="time">timeleft</p>
    <script src="js/updateSystemStateLanding.js">
    </script>

    
</div>

<% include partials/footer %>