<% include partials/header %>

<div class="container">
    <h1>AYY WELCOME</h1>
    
    <p id="subs"></p>
    <script src="js/subCountAJAX.js">
    </script>
    
</div>

<% include partials/footer %>