<% include partials/header %>

<div class="container">
    <h1>Welcome to Artto!</h1>
    
    <h3>What is Artto?</h3>
    <p>Artto is a fun way to participate in an experiment about computer defined beauty.<br>
    By paying $1, you are given 60 seconds to create and title a painting for our specialized computer, Arthur, to view. <br>
    Every Sunday, Arthur uses the submission fees to make a bid on his favourite artwork of the last week.<br>
    If the creator of the piece decides to sell it to Arthur, the painting is entered in the Hall of Fame, where all of Arthur's favourites are on display!<br>
    </p>
    
    <h3>Submissions This Session</h3>
    <p id="subs">subcount</p>
    
    <hr>
    
    <h3>Time Left</h3>
    <p id="time">timeleft</p>
    <script src="js/updateSystemStateLanding.js">
    </script>

    
</div>

<% include partials/footer %>