<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Hall of Fame</h1>
        <% submissions.forEach(function(submission){ %>
            <img src="/hof/<%= submission._id %>.png" alt="submission" class="img-thumbnail">
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>