<% include ../partials/header %>

<div class="container">
    
    <script src="/js/hof.js">
    </script>
    
    <script src="/js/spin.min.js">
    </script>
    
    <div class="row" id="submissions">
        <h1 style="text-align: center;">Hall of Fame</h1>
        <% submissions.forEach(function(submission){ %>
            <img src="/hof/<%= submission._id %>.png" alt="submission" class="img-thumbnail">
        <% }); %>
    </div>
    
</div>

<% include ../partials/footer %>