<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">ART</h1>
        <div style="width: 50%; margin: 25px auto;">
            <!-- where the widget goes. you can do CSS to it. -->
            <!-- note: as of 0.4.13, you cannot use 'literally' as the class name.
                 sorry about that. -->
            <div class="my-drawing"></div>
        
            <!-- kick it off -->
            <script src="js/drawingApp.js">
            </script>
            <a href="/home">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>